.counter-view {
  width: calc(100% - 200px) !important;
}

.side-bar {
  width: 200px !important;
  height: 100%;
  float: right;
  background-color: white;
  border: 1px solid black;
}

.qr-code {
  text-align: center;
  padding: 5px;
  width: 100% !important;
  height: 20%;
}

.qr-code img {
  height: 100%;
  display: inline !important;
}

.vote-bar {
  width: 100% !important;
  height: 80%;
}

.vote-bar__item {
  width: 100%;
  height: calc(100 / 500 * 1%);
  background-color: goldenrod;
}

.vote-bar__item.top20 {
  background-color: #fe3232;
}

.vote-bar__item.not-active {
  background-color: white !important;
}

.ninja {
  position: absolute;
  width: 64px;
  z-index: 100;
  right: 68px;
  bottom: 0px;
}

.hidden {
  display: none;
}
